

<div class="container">
  <div class="jumbotron">
  <h1 class = "text-center">New Movie</h1>
  <br>
  <%= form_for @movie do |f|%>
  <span id="helpBlock" class="help-block">Add a new movie so your fellow Movi-ers can have their say!</span>
  <br>
  <div><%= f.label :poster %></div>
  <div><%= f.file_field :poster, placeholder: "Movie poster image", class: "form-control" %></div>
  <br>
  <div><%= f.label :title %></div>
  <div><%= f.text_field :title, placeholder: "Movie title", class: "form-control" %></div>
  <br>
  <div><%= f.label :synopsis %></div>
  <div><%= f.text_area :synopsis, placeholder: "What is the movie about?" %></div>
  <br>
  <div><%= f.submit %></div>
  <%end %>
</div>
</div>
