<h1>User profile</h1>

<div>
  <h2>Your Reviews</h2>
  <div>
     <% @user.reviews.each do |r| %>
      <h3>Movie: <%= Movie.find(r.movie_id).title %></h3>
      <p><%= r.body %></p>
     <% end %>
  </div>
</div>

<%= current_user.id %>

<% if current_user.id = profile_path(current_user.id) %>
<div>
  <h2>Profile Info</h2>
  <div>
    <%= form_for @user, url: profile_path do |f| %>
    <div>
      <%= f.label :email %>
      <%= f.text_field :email %>
    </div>
    <div>
      <%= f.label :password %>
      <%= f.password_field :password%>
    </div>
    <%= f.submit %>
    <% end %>
  </div>
</div>
<% end %>
