<h1>Reviews#edit</h1>
<%= form_for @review, url: edit_review_path do |f| %>
  <div>
    <%= f.label :title %>
    <%= f.text_field :title, placeholder: "The title of the movie"%>
  </div>
  <div>
    <%= f.label :body %>
    <%= f.text_area :body, placeholder: "You only have 160 characters. Make em count!"%>
    <div><%= f.submit %></div>
  </div>
<% end %>
