<!DOCTYPE html>
<html>
  <head>
    <title>WDIMoviEr</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <div class="nav">
    <% if logged_in %>
    Hello, <%= current_user.first_name %>
    <%= link_to "Home", movies_path %>
    <%= link_to "Profile", profile_path %>
    <%= link_to "Logout", logout_path, {method: 'DELETE'}%>
    <%= link_to "New Movie", new_movie_path %>
    <% else %>
    <%= link_to "Home", root_path %>
    <%= link_to "Signup", signup_path %>
    <%= link_to "Sign In", signin_path %>
    <% end %>



  </div>

  <body>
    <%= yield %>
  </body>
</html>
